.container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 7px 15px;
  background-color: rgba(218, 97, 182, 0.37);
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 8px 9px 5px 6px rgba(34, 60, 80, 0.45);
}

.button:hover,
.button:focus {
  background-color: rgba(163, 45, 128, 0.37);
  box-shadow: 4px 5px 5px 6px rgba(34, 60, 80, 0.45);
}
